<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- inject:css -->
  <!-- endinject -->
  <!--<base href="/">-->
  <!-- the host service sets the application base address dynamically, 
   so replace the <base href...> with a script that writes a <base> tag on the fly to match.
   We should only need this trick for the live example, not production code.-->
  <script>document.write('<base href="' + document.location + '" />');</script>
</head>
<body>

  <app>Loading...</app>

  <!-- shims:js -->
  <!-- endinject -->

  <script>System.config(<%= JSON.stringify(SYSTEM_CONFIG) %>)</script>

  <!-- libs:js -->
  <!-- endinject -->

  <script>
    System.import('bootstrap')
      .catch(function (e) {
        console.error(e,
          'Report this error at https://github.com/mgechev/angular2-seed/issues');
      });
  </script>

  <!-- inject:js -->
  <!-- endinject -->

</body>
</html>
