<h1 [myHighlight]="color" [defaultColor]="'DeepSkyBlue'">{{title}}</h1>
    <div class="col-md-6 col-md-offset-3 colorInput">
        <h5>Choose a highlight color</h5>
    </div>
<div class="row">
    <div class="col-md-3 colorInput">
      <input type="radio" 
        name="colors" 
        class="colorRadio"
        (click)="color='DarkSlateGray'">
        DarkSlateGray
    </div>
    <div class="col-md-3 colorInput">
      <input type="radio" 
        name="colors"  
        class="colorRadio"
        (click)="color='GoldenRod'">
        GoldenRod
    </div>
    <div class="col-md-3 colorInput">
      <input type="radio" 
        name="colors"
        class="colorRadio"
        (click)="color='DarkSalmon'">
        CyanDarkSalmon
    </div>
</div>
<hr />
<ul class="heroes">
   <li *ngFor="#hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        <span class="badge">
            {{hero.id}}</span> 
            {{hero.name}}
   </li>
</ul>
