@keyframes second-animation {
    0% {
        fill: dodgerblue;
        transform: translateX(0);
    }
    50% {
        fill: peru;
        transform: translateX(50px);
    }
    100% {
        fill: orangered;
        transform: translateX(100px);
    }
}

 /*Large sprite and animate the background position. 
@keyframes splashit {
    100% {
        background-position: 0 -3046;
    }
    .splash {
        background: url('splash-sprite.svg');
        animation: splashit 1.8s steps(21) infinite;
    }
}

/* extend to keep it DRY 
.area {
    width: 600px;
    height: 348px;
}
.fore, .mid, .bk, .container { 
    @extend .area;
}*/