<section class="sample-app-content">
  <nav>
    <a [routerLink]="['/Home']">Home</a>
    <a [routerLink]="['/About']">About</a>
    <a [routerLink]="['/Heroes']">Heroes</a>
    <a [routerLink]="['/Myra']">Myra</a>
    <span class="icon-cool">Cool</span>
    <!--<a [routerLink]="['CrisisCenter']">Crisis Center</a>-->
  </nav>
  <router-outlet></router-outlet>
</section>
<h1>{{title}}</h1>
<ul class="heroes">
    <li *ngFor="#hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<div class="glyph fs1">
            <div class="clearfix bshadow0 pbs">
                <span class="icon-cool">
                
                </span>
                <span class="mls"> icon-cool</span>
            </div>
            <fieldset class="fs0 size1of1 clearfix hidden-false">
                <input type="text" readonly value="e90c" class="unit size1of2" />
                <input type="text" maxlength="1" readonly value="&#xe90c;" class="unitRight size1of2 talign-right" />
            </fieldset>
            <div class="fs0 bshadow0 clearfix hidden-true">
                <span class="unit pvs fgc1">liga: </span>
                <input type="text" readonly value="cool, emoticon13" class="liga unitRight" />
            </div>
        </div>

<my-hero-detail [hero]="selectedHero"></my-hero-detail>